*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family:'Open Sans', sans-serif;
    font-size:16px;
    
}

body {
    
    margin:0
}

.site-header {
    /* position:fixed; */
    width: 100%;
    display:block;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin:0 auto;
    padding: 0 20px;
}

.flex-container {
    display:flex;
}

.site-header .flex-container {
    justify-content: space-between;
    align-items: center;
}

.main-nav li {
    list-style: none;
}

.main-nav a {
    color: #212832;
    font-size:17px;
    margin: 0;
    padding: 10px 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}

main.nav, .signup-button {
    font-size: 17px;
    color: #fff;
    border: 1px solid #212832;
    border-radius: 5px;
    font-weight: bold;
    text-decoration:none;
}
     
.main-nav a:hover, .main-nav a:active {
    background-color: beige;
    border-radius: 5px;
}

.mobile-nav {
    display:none;
}

.logo {
    display:flex;
    align-items: center;
    margin-left: 20px;
    padding: 55px 0;
}

/* HERO */
.hero {
    padding: 100px 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.travelgirlphoto {
    width: 200px;
    margin-left: auto;
    margin-top: -500px;
 
}
.hero h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #DF6951;
    margin: 0;
    text-transform: uppercase;
    display: flex;
    align-content: center;
}
.hero h1 {
    font-family: 'Volkhov', sans-serif;
    font-size: 84px;
    color: #181E4B;
    margin: 0;
    display: flex;
    align-content: center;
}
.hero p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #5E6282;
    margin: 0;
    display: flex;
    align-content:center;
    padding: 40px;
}
.hero a {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #fff;
    background-color: #F1A501;
    border-radius: 5px;
    padding: 20px 20px;
    
}
.hero .bi {
    color: #DF6951;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    margin-left: 25px;
    cursor: pointer;
}

